body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #4CAF50;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

span {
    font-weight: bold;
    color: #555;
}

button {
    margin-top: 1em;
    padding: 0.7em 1.5em;
    font-size: 1em;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

